<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/adminlayout}"
>
<th:block layout:fragment="title">
    <title>관리자 : 사용자 상세보기</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/userDetail.css}">
</th:block>
<th:block layout:fragment="script">
<!--    <script th:src="@{/js/home/admin.js}" defer></script>-->
</th:block>
<th:block layout:fragment="admin-con">
       <div class="admin-con">
           <div class="user-con">
               <div class="admin-con-title">
                   <h1 class="title">사용자 관리</h1>
               </div>
               <div class="admin-con-list">
                   <div class="admin-con-table">
                       <table>
                           <tr>
                               <th scope="row">아이디</th>
                               <td><span th:text="${member.id}" class="data"></span></td>
                           </tr>
                           <tr>
                               <th scope="row">이름</th>
                               <td><span th:text="${member.nickName}" class="data"></span></td>
                           </tr>
                           <tr>
                               <th scope="row">이메일</th>
                               <td><span th:text="${member.email}" class="data"></span></td>
                           </tr>
                           <tr>
                               <th scope="row">권한</th>
                               <td><span th:text="${member.role}" class="data"></span></td>
                           </tr>
                           <tr>
                               <th scope="row">전화번호</th>
                               <td><span th:text="${member.phone}" class="data"></span></td>
                           </tr>
                           <tr>
                               <th scope="row">가입일자</th>
                               <td><span th:text="${#temporals.format(member.createTime, 'yyyy-MM-dd HH:mm:ss')}" class="data"></span></td>
                           </tr>
                           <tr>
                               <th scope="row">수정일자</th>
                               <td><span th:text="${#temporals.format(member.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
                           </tr>
                       </table>
                       <div class="detail-profile-menu">
                           <ul>
                               <li><a th:href="@{/admin/userUpdate/{id}(id=${member.id})}">회원수정</a></li>
                               <li><a th:href="@{/member/delete/{id}(id=${member.id})}">회원탈퇴</a></li>
                               <li><a th:href="@{/admin/user}">돌아가기</a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
</th:block>
</html>