<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baselayout}"
>
<th:block layout:fragment="title">
    <title>회원 : 회원가입</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/insertInfo.css}">
</th:block>
<th:block layout:fragment="script">
      <script th:src="@{/js/member/insertInfo.js}" defer></script>
</th:block>
<th:block layout:fragment="container">

    <div class="container">
        <div class="insertInfo">
            <div class="insertInfo-con">
                <h1 class="title1">회원가입</h1>
                <h2 class="title2">이어서 회원가입을 완료해 주세요</h2>
                <div class="insertInfo-form">
                    <form th:action="@{/member/insertInfo}" method="post" th:object="${member}">
                            <ul>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <li>
                                    <input type="hidden" name="id" th:value="${member.memberEntity.id}" id="id">
                                    <input type="hidden" name="role" th:value="${member.memberEntity.role}" id="role">
                                    <input type="hidden" name="password" th:value="${member.memberEntity.password}" id="password">
                                </li>
                                <li>
                                    <label th:for="email">이메일</label>
                                    <input type="text" name="email" th:value="${member.memberEntity.email}" id="email" readonly>
                                </li>
                                <li>
                                    <label th:for="nickName">이름<img th:src="@{/images/member/asterisk.png}" alt="asterisk.png"></label>
                                    <input type="text" name="nickName" id="nickName" placeholder="이름">
                                </li>
                                <li>
                                    <label th:for="phone">전화번호</label>
                                    <input type="text" name="phone" id="phone" placeholder="전화번호">
                                </li>

                                <li>
                                    <input type="reset" value="초기화">
                                    <input type="submit" value="회원가입 하기" id="submit">
                                </li>

                            </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>