<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baselayout}"
>
<th:block layout:fragment="title">
    <title>회원 : 로그인</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
</th:block>
<th:block layout:fragment="script">
    <!--      <script th:src="${/js/index.js}"></script>-->
</th:block>
<th:block layout:fragment="container">

    <div class="login">
        <div class="login-con">

            <h1 class="title">로그인</h1>
            <!-- security 인증실패 메시지 표시 -->
            <div th:if="${session.errorMessage}" class="alert alert-danger" th:text="${session.errorMessage}"></div>

            <div class="login-form">
                <form th:action="@{/member/login}" method="post">

                    <ul>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <li>
                            <input type="email" name="email" id="email" placeholder="이메일 입력">
                        </li>
                        <li>
                            <input type="password" name="password" id="password" placeholder="비밀번호 8자~20자">
                        </li>
                        <li>
                            <input type="submit" value="로그인">
                        </li>
                    </ul>
                </form>
            </div>

            <div class="move-link">
                <ul>
                    <li><span>아직 회원이 아니신가요?</span></li>
                    <li><a th:href="@{/member/join}">회원가입하러가기</a></li>
                </ul>
            </div>

            <div class="move-password">
                <ul>
                    <li><span>비밀번호를 잊어버리셨나요? </span></li>
                    <li><a th:href="@{/member/findPassword}">비밀번호찾기</a></li>
                </ul>
            </div>

            <div class="separator">
                <p>OR</p>
            </div>

            <div class="sns-login">
                <div class="sns-login-menu">
                    <a th:href="@{/oauth2/authorization/google}">
                        <img th:src="@{/images/member/google_login.png}" alt="google_login">
                    </a>
                    <a th:href="@{/oauth2/authorization/naver}">
                        <img th:src="@{/images/member/naver_login.png}" alt="naver_login">
                    </a>
                    <a th:href="@{/oauth2/authorization/kakao}">
                        <img th:src="@{/images/member/kakao_login.png}" alt="kakao_login">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
    /* 세션에서 errorMessage 추출 */
    var errorMessage = /*[[${session.errorMessage}]]*/ null;

    /* errorMessage가 null이 아니면 팝업 창으로 표시 */
    if (errorMessage !== null) {
        alert(errorMessage); // 또는 다른 팝업 스타일을 사용
        /* errorMessage를 세션에서 제거 */
        /* 여기에서 세션 변수를 제거하는 코드 추가 */
    }
    </script>


</th:block>
</html>