<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baselayout}"
>
<th:block layout:fragment="title">
    <title>상품 : 장바구니</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/item/cart.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--  <script th:src="${/js/index.js}"></script>-->
</th:block>
<th:block layout:fragment="container">
    <div class="container">
        <div class="wish-list">
            <div class="section1">
                <div class="title">
                    <h1 class="title">Wish List</h1>
                </div>
                <div class="nav">
                    <ul>
                        <li><a th:href="@{/member/detail/{id}(id=${#authentication.principal.memberEntity.id})}">Profile</a></li>
                        <li><a th:href="@{/cart/list}">Wish List</a></li>
                        <li><a th:href="@{/board/search/{id}(id=${#authentication.principal.memberEntity.id})}">My Posts</a></li>
                    </ul>
                </div>
            </div>
            <div class="section2">
                <hr class="divide">
            </div>
            <div class="section3">
                <table>
                    <tr>
                        <th class="th1">NO.</th>
                        <th class="th2">상품이미지</th>
                        <th class="th3">상품정보</th>
                        <th class="th4">개수</th>
                        <th class="th5">가격</th>
                        <th class="th6"></th>
                    </tr>
                    <tr th:each="wish: ${wishList}">
                        <td><span th:text="${wish.itemEntity.id}"></span></td>
                        <td class="td-img">
                            <th:block th:if="${wish.itemEntity.isFile==1}">
                                <a th:href="@{/item/detail(id=${wish.itemEntity.id})}">
                                    <img th:src="@{/files/} + ${wish.itemEntity.saveName}" alt="상품 이미지">
                                </a>
                            </th:block>
                            <th:block th:unless="${wish.itemEntity.isFile==1}">
                                <a th:href="@{/item/detail/{id}(id=${wish.itemEntity.id})}">
                                    <img th:src="@{https://placehold.co/300x400?text=No\nImage}" alt="이미지 오류">
                                </a>
                            </th:block>
                        </td>
                        <td class="td-detail">
                            <ul>
                                <li><a th:href="@{/item/detail(id=${wish.itemEntity.id})}"><span th:text="${wish.itemEntity.name}" class="span-name"></span></a></li>
                                <li><span th:text="${wish.itemEntity.detail}" class="span-detail"></span></li>
                                <li><span th:text="${#numbers.formatInteger(wish.itemEntity.price, 3, 'COMMA') + '원'}" class="span-price"></span></li>
                            </ul>
                        </td>
                        <td><span th:text="${wish.size}"></span></td>
                        <td class="td-total-price"><span th:text="${#numbers.formatInteger((wish.size * wish.itemEntity.price), 3, 'COMMA')+ '원'}"></span></td>
                        <td class="td-delete"><a th:href="@{/wishlist/delete/{id}(id=${wish.id})}">삭제</a></td>
                    </tr>
                </table>
            </div>
            <div class="section4">
                <a th:href="@{/item/list}">쇼핑 계속하기</a>
                <a href="#" th:onClick="Swal.fire(
                { icon: 'warning',
                title: '구매 하시는 상품',
                text: '결제하시겠습니까??',
                showCancelButton: true,
                confirmButtonText: '결제하기',
                cancelButtonText: '돌아가기'})">결제하기</a>
            </div>
        </div>
    </div>


</th:block>
</html>