<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <th:block layout:fragment="title">
        <!-- 각 페이지 마다 변경 -->
    </th:block>
    <th:block layout:fragment="css">
        <!-- 각 페이지 마다 변경 -->
        <link rel="stylesheet" th:href="@{/css/chatbot/chat-bot.css}">
    </th:block>
    <th:block layout:fragment="script">
        <!-- 각 페이지 마다 변경 -->
    </th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/common/search.js}" defer></script>
    <script th:src="@{/js/chatbot/chat.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
</head>
</html>