<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div class="header" th:fragment="headerFragment">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <div class="top-header">
        <div class="top-menu">
            <h1 class="logo">
                <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="logo"></a>
            </h1>
            <div class="top-right-menu">
                <ul>
                    <li id="searchForm">
                        <div>
                            <form th:action="@{/search}" method="get">
                                <ul>
                                    <li>
                                        <select name="menu" id="menu">
                                            <option value="item">상품</option>
                                            <option value="board">게시글</option>
                                        </select>
                                    </li>
                                    <li>
                                        <input type="text" name="search" id="search" placeholder="검색...">
                                    </li>
                                    <li>
                                        <input type="submit" value="검색">
                                    </li>
                                    <li>
                                        <button type="button" id="xBtn"><img th:src="@{/images/ximage.png}" alt="x">
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    <li>
                        <button type="button" id="searchBtn"><img th:src="@{/images/search.png}" alt="search"></button>
                    </li>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/join}">join</a></li>
                        <li><a th:href="@{/member/login}">login</a></li>
                    </th:block>
                    <th:block sec:authorize="hasAnyRole('ADMIN','MEMBER','GUEST')">
                        <li>
                            <a th:href="@{/member/logout}">logout</a>
                        </li>
                        <li>
                            <a th:href="@{/member/detail/{id}(id=${#authentication.principal.memberEntity.id})}">my page</a>
                        </li>
                    </th:block>
                        <li>
                            <a th:href="@{/cart/list}">cart</a>
                        </li>

                    <th:block sec:authorize="hasAnyRole('ADMIN')">
                        <li><a th:href="@{/admin/user}">admin</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="bottom-menu">
            <div class="bottom-left-menu">
                <ul>
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/item/list}">PRODUCT</a></li>
                    <li><a th:href="@{/board/list}">BOARD</a></li>
                </ul>
            </div>
            <span class="bottom-right-text">
                    The Journey With Toys
                </span>
        </div>
    </div>
</div>
</html>