@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);

.container{
  width: 100%;
}

.join{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.join .join-con{
  flex-basis: 600px;
  padding: 30px;
}

/* join title */
.join .join-con h1.title{
  color:#616161;
  font-size: 30px;
  letter-spacing:-3px;
  text-align:center;
  transition:.2s linear;
  font-weight: 900;
}

/* join link */
.join .join-con .move-link{
  padding: 0 0 20px 0;
}

.join .join-con .move-link ul{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join .join-con .move-link ul li{
  color: #222;
  font-size: 12px;
  letter-spacing:-1px;
  text-align:center;
  transition:.2s linear;
  font-weight: 700;
  opacity: 0.6;
}

.join .join-con .move-link ul li a:hover{
  color: #000000;
}

/* join-form */
.join .join-con .join-form{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}

.join .join-con .join-form ul{
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join .join-con .join-form ul li{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.join .join-con .join-form ul li label{
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  line-height: 3;
  display: flex;
  justify-content: flex-start;
}

.join .join-con .join-form ul li label img{
  display: block;
  width: 10px;
  height: 10px;
}


.join .join-con .join-form ul li input{
  flex: 4;
  padding: 5px;
  box-shadow:  0 1px  0 0 #ccc;
  display:block;
  width:100%;
  max-width:680px;
  height:50px;
  border: none;
  display: flex;
  justify-content: center;
  font-size:14px;
  font-family: 'Montserrat', sans-serif;
}


.join .join-con .join-form ul li input[type=submit]{
  background:#0A2647;
  color:white;
  display:block;
  width:100%;
  max-width:680px;
  height:50px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-size:14px;
  font-family: 'Montserrat', sans-serif;
  box-shadow:0 15px 30px rgba(#0A2647,.36);
  transition:.2s linear;  
}

/* seperator */
.join .join-con .separator{
    display:block;
    margin:30px auto 10px;
    text-align:center;
    height:40px;
    position:relative;
    background:transparent;
    font-size:13px;
    width:90%;
    max-width:680px;
}

.join .join-con .separator p{
  color: #ccc;
}


.join .join-con .separator::after{
  content:"";
  position:absolute;
  top:8px;
  left:0;
  background: #ccc;
  height:1px;
  width:45%;
}

.join .join-con .separator::before{
  content:"";
  position:absolute;
  top:8px;
  right:0;
  background: #ccc;
  height:1px;
  width:45%;
}


/* sns-join */
.join .join-con .sns-join{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join .join-con .sns-join .sns-join-menu{
  padding: 3px 20px;
}

.join .join-con .sns-join .sns-join-menu a{
  align-items: center;
  width: 100%;
  padding: 3px 20px;
}

.join .join-con .sns-join .sns-join-menu a img{
  width: 100%;
  height: auto;
  display: block;
}
 .error{
    padding: 0;
    text-align: right;
    color: #ff0000;
    font-size: 12px;
 }

.checkEmail{
    padding: 0;
     text-align: right;
     color: #0000ff;
     font-size: 12px;
}


